@tailwind base;
@tailwind components;
@tailwind utilities;


/* In your CSS or directly in Tailwind CSS using @layer */
.wave-border {
    clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #ffffff; /* Change to your desired color */
    z-index: -1;
  }
  